<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">NFL News Mongo Scraper</a>
    <form class="form-inline">
        <button class="btn btn-outline-success" id="scrape" type="submit">New Scrape</button>
    </form>
</nav>

<div class="jumbotron jumbotron-fluid text-center">
  <div class="caption">
      <h2>Mongo Scraper</h2>
      <h3>NFL News Edition</h3>
  </div>
</div>

<div class="container article-wrapper" id="articles">
</div>

<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="title-form" class="col-form-label">Title</label>
            <input type="text" class="form-control" id="titleinput">
          </div>
          <div class="form-group">
            <label for="comment-text" class="col-form-label">Comment</label>
            <textarea class="form-control" id="bodyinput"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" id="savenote">Submit</button>
      </div>
    </div>
  </div>
</div>

<footer class="footer text-center">
    <p>NFL News Scraper</p>
</footer>