<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Mongo Scraper</a>
    <form class="form-inline">
        <button class="btn btn-outline-success scrape" type="submit">New Scrape</button>
        {{!-- <button class="btn btn-outline-success clear" type="submit">Clear</button> --}}
    </form>
</nav>

<div class="jumbotron jumbotron-fluid text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
      <h2>Mongo Scraper</h2>
  </div>
</div>

<div class="container article-wrapper">
</div>

<footer class="footer text-center">
    <p>Mongo Scraper</p>
</footer>