body {
    font-family: 'Righteous', cursive;
}

.navbar {
    margin-bottom: 0px;
}

.jumbotron {
    background-image: url("../img/football-field-header.jpg");
    height: 500px;
}

.caption {
    padding-top: 14%;
}

.caption, h2 {
    font-size: 250%;
}

.caption, h3 {
    font-size: 210%;
}

.article-wrapper {
    width: 80%;
    border-style: solid;
    border-width: thick;
    border-color: #7A8C37;
    margin-bottom: 3%;
}

.addComment {
    float: right;
}

footer {
    position:relative;
    bottom:0;
    width:100%;
    background: #7A8C37;
    color: white;
    padding: 1%;
}